
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "Xanh Mono";
  text-align: center;
  vertical-align: center;
  
}
p {
  font-family: "Xanh Mono";
  text-align: center;
  vertical-align: center;
  color: #fee;
}

.container {

  /*border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5em;*/
  font: 1.2em sans-serif;

  position: absolute;
  vertical-align: middle;

  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;

  align-items: center;
  align-content: center;
  justify-content: center;

}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;

  text-shadow: 0 0 10px lightgoldenrodyellow

  /*-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;*/
}


@-webkit-keyframes glow {
  /*from {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }
  to {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }*/
}
